ul {
  
    margin: 1px;
    padding: 10px;
    overflow: hidden;
   
  }
  
  li {
    float: left;
    margin: 5px;
      
  }
  
  li a {
    
    padding: 10px;
    color: rgb(164, 164, 236);
   
      
  }
  
  h1 {
    color: rgb(164, 164, 236);
    margin: 5px 0;
    padding: 0;
}
nav {
    background-color: #00001a;
    padding: 0px 10px;
    box-sizing: border-box;
}